on:
  push:
    tags:
      - "*"
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: olegtarasov/get-tag@v2.1
        id: tagName
      - run: docker build -t ${GIT_TAG_NAME} .
        working-directory: src
      - run: echo ${GIT_TAG_NAME}
      - run: echo ${{steps.tagName.outputs.tag}}
